.container {
  background-image: url(./images/papa_takaro.svg);
  background-repeat: no-repeat;
  max-width: 30rem;
  margin: 5rem auto;
}

.board {
  width: 100%;
  padding-top: 100%;

  background-size: contain;
  position: relative;
  margin: 0 auto;
}

.square {
  background: red;
  width: 12%;
  height: 12%;
  position: absolute;
  border-radius: 50%;
  border: none;
  border: 3px solid transparent;
}

.square:hover {
  border-color: red;
  cursor: pointer;
}

.white {
  background: grey;
}

.black {
  background: black;
}

.pos0 {
  top: -6%;
  left: 56%;
  position: absolute;
}

.pos1 {
  top: 20%;
  left: 83%;
  position: absolute;
}

.pos2 {
  top: 56%;
  left: 86%;
  position: absolute;
}

.pos3 {
  top: 84%;
  left: 58%;
  position: absolute;
}
.pos4 {
  top: 85%;
  left: 22%;
  position: absolute;
}

.pos5 {
  top: 57%;
  left: -7%;
  position: absolute;
}
.pos6 {
  top: 23%;
  left: -6%;
  position: absolute;
}
.pos7 {
  top: -6%;
  left: 19%;
  position: absolute;
}
.pos8 {
  top: 37%;
  left: 40%;
  position: absolute;
}

