.container {
  background-image: url(./images/papa_takaro.svg);
  background-repeat: no-repeat;
  max-width: 30rem;
  margin: 5rem auto;
}

.board {
  width: 100%;
  padding-top: 100%;

  background-size: contain;
  position: relative;
  margin: 0 auto;
}

.square {
  background: red;
  width: 12%;
  height: 12%;
  position: absolute;
  border-radius: 50%;
  border: none;
  border: 3px solid transparent;
}

.square:hover {
  border-color: red;
  cursor: pointer;
}

.white {
  background: grey;
}

.black {
  background: black;
}

.pos0 {
  top: -3%;
  left: 24%;
}

.pos1 {
  top: 91%;
  left: 26%;
}

.pos2 {
  top: 91%;
  left: 64%;
}

.pos3 {
  top: 62%;
  left: 91%;
}
.pos4 {
  top: 23%;
  left: 90%;
}

.pos5 {
  top: 24%;
  left: -2%;
}
.pos6 {
  top: 63%;
  left: -3%;
}
.pos7 {
  top: -3%;
  left: 63%;
}
.pos8 {
  top: 43%;
  left: 44%;
}
