/* .container {
  text-align: center;
  width: 604px;
  height: 604px;
  background-image: url(./images/Mu_Torere.svg);
  display: grid;
  grid-template-rows: 1fr 2fr 2fr 1fr;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: 
  ". square1 square2 ."
  "square3 center center square4"
  "square5 center center square6"
  "square7 square7 square8 square8"
} */

.container {
  background-image: url(./images/Mu_Torere.svg);
  max-width: 30rem;
  margin: 0 auto;
}

/* .container div {
  outline: 1px solid red;
  width: 500px;
  height: 500px;
  background: ;


} */

/* .container div:hover {
  background: hotpink;
  opacity: 0.3;
} */


.board {
  width: 100%;
  padding-top: 100%;
  background-size: contain;
  border: 1px solid blue;
  position: relative;
  margin: 0 auto;
}

.square {
  background: red;
  width: 10%;
  height: 10%;
  position: absolute;
  border-radius: 50%;
}

.pos1 { 
  top: 4%;
  left: 28%;
}

.pos2 { 
  top: 80%;
  left: 28%;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
